@charset "utf-8";

/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/*Variáveis de fontes*/
:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Sriracha', cursive;
    --fonte03:'Patrick Hand', cursive;
}


/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
}

/* Configurações de HTML e BODY*/

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte01);
}

/*Configuração do header(cabeçalho)*/
header{
    background-image: url("../imagens/capa_cordel_02.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px black;
    box-shadow: 4px 4px 6px black;

}

header > h1{
    padding-top : 50px;
    font-variant: small-caps;
    font-family: var(--fonte03);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

/*Configurações gerais dos links*/
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte02);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: inset 4px 5px 10px black ;
    
}


section.imagem > p{
    background-color: rgba(0, 0, 0, 0.507);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
}

section > p{
    padding-bottom: 2em;
}

/* Adicionando efeito paralax */

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;    
}

/*Rodapé da página*/
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;

}
