@charset "utf-8";

/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
}

/* Configurações de HTML e BODY*/

html, body{
    background-color: darkgray;
    min-height: 100vh ;
}

/*Configuração do header(cabeçalho)*/
header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    padding-top : 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

/*Configurações gerais dos links*/
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(32, 32, 32);
    color: white;
}

section.imagem > p{
    background-color: black;
    width: 500px;
}

/*Rodapé da página*/
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    
}
